# ==============================================================================
# General
# ==============================================================================
alias l='ls -CFlh'
alias vim='nvim'

# ==============================================================================
# Git Aliases
# ==============================================================================

alias gap='git add -p'
alias gb='git branch'
alias prune='git remote prune origin'
alias gl='git pull'
alias fuckit='git push --force-with-lease'

