# vim: filetype=sh

# ==============================================================================
# Functions
# ==============================================================================

# Requires yazi, which is installed via Brewfile
function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}

##
# Reloads your current $SHELL
##

reload!() {
  if [ -n "`$SHELL -c 'echo $ZSH_VERSION'`" ]; then
    source $HOME/.zshrc
  elif [ -n "`$SHELL -c 'echo $BASH_VERSION'`" ]; then
    source $HOME/.bashrc
  else
    echo "Unknown shell?! in function reload!"
  fi
}

