# vim: filetype=sh

# ==============================================================================
# Functions
# ==============================================================================

##
# Reloads your current $SHELL
##
reload!() {
  if [ -n "`$SHELL -c 'echo $ZSH_VERSION'`" ]; then
    source $HOME/.zshrc
  elif [ -n "`$SHELL -c 'echo $BASH_VERSION'`" ]; then
    source $HOME/.bashrc
  else
    echo "Unknown shell?! in function reload!"
  fi
}

clone-cd() {
  repo=$1
  dest=`echo $repo | sed 's|.*/||'`

  cd ~/ps

  if [ ! -d $dest ]; then
    clone $1
  fi

  cd $dest
}
